<ion-header>

  <ion-navbar>
    <ion-title>{{med.name}}
      <img *ngIf="med.getistabgelaufen()" src={{pfadabgelaufen}} height=40 alt="ist abgelaufen" title="ist abgelaufen">
    </ion-title>
    <ion-buttons outline end>
      <!-- die Buttons für die Neu-Anlage -->
      <button *ngIf="neuanlage" ion-button icon-only (click)="clickNewMed()">
        <ion-icon name="add"></ion-icon>
      </button>

      <!-- die Buttons für die Bearbeitug -->
      <button *ngIf="!neuanlage" ion-button icon-only (click)="clickSaveMed()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>

      <button *ngIf="!neuanlage" ion-button icon-only (click)="clickDelMed()">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list >
    <!-- <p background-image: url("http://localhost:8080/picture/00829388.jpg") ></p> -->
    <ion-item>
      <img src={{getpfadmedbild()}} height=150>
    </ion-item>

    <ion-item>
      <h2>{{med.getpzn()}}</h2>
    </ion-item>

    <ion-item>
      <h2>{{med.getKategorieText()}}</h2>
    </ion-item>

    <ion-item *ngIf="getapothekenpflichtig()">
      <p>Medikament ist apothekenpflichtig
        <img src={{pfadapothekenpflichtig}} height=30 alt="ist apothekenpflichtig" title="apothekenpflichtig">
      </p>
    </ion-item>

    <ion-item>
      <p>Entsorgung
        <img *ngIf="getentsorgungkloverboten()" src={{pfadentsorgungkloverboten}} height=40 alt="Entsorgung über Klo ist verboten"
          title="Entsorgung im Klo verboten">
        <img *ngIf="getentsorgunghausmuell()" src={{pfadentsorgunghausmuell}} height=40 alt="Entsorgung erfolgt über Hausmüll" title="Entsorgung Hausmüll">
        <img *ngIf="getentsorgunghausmuellverboten()" src={{pfadentsorgunghausmuellverboten}} height=40 alt="Entsorgung über Hausmüll ist verboten"
          title="Entsorgung Hausmüll verboten">
      </p>
    </ion-item>

    <bestand [initablaufdatum]="initablaufdatum" [initbestand]="initbestand"></bestand>

    <ion-item>
      <button ion-button (click)="clickAnwendungsgebiet()">Anwendungsgebiet</button>
      <button ion-button (click)="clickWirkstoffe()">Wirkstoffe</button>
      <button ion-button (click)="clickWirkungsweise()">Wirkungsweise</button>
      <button ion-button (click)="clickGegenanzeigen()">Gegenanzeigen</button>
      <button ion-button (click)="clickDosierung()">Dosierung</button>
      <button ion-button (click)="clickEntsorgung()">Entsorgung</button>
    </ion-item>
  </ion-list>
</ion-content>